.merchant {
    padding-left: 2%;
}

.toggle {
    margin-right: 2%;
    padding-right: 2%;
}

.toggle_icon {
    color: grey;
}
.user_field{
    max-width: 550px;
    display: flex;
    background: white;
    justify-content: space-between;
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px
}